.icon-arrow-next {
  width: 0.57em;
  height: 1em;
  fill: #000;
}
.icon-arrow-prev {
  width: 0.57em;
  height: 1em;
  fill: #000;
}
.icon-cart {
  width: 1.05em;
  height: 1em;
  fill: #000;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: #000;
}
.icon-facebook {
  width: 0.59em;
  height: 1em;
  fill: #000;
}
.icon-heart-border {
  width: 1.14em;
  height: 1em;
  fill: initial;
}
.icon-heart-fill {
  width: 1.14em;
  height: 1em;
  fill: #000;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: #000;
}
.icon-magnifier {
  width: 1em;
  height: 1em;
  fill: #000;
}
.icon-search {
  width: 0.96em;
  height: 1em;
  fill: #000;
}
.icon-twitter {
  width: 1.22em;
  height: 1em;
  fill: #000;
}
.icon-user {
  width: 0.95em;
  height: 1em;
  fill: #000;
}
